body {
    text-align: center;
    background: rgba(242, 107, 3, 0.924);
    color: rgba(255, 255, 255, 0.937);
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* fit to page */

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 45px;
}

h2 {
    margin-top: -10px;
    font-size: 30px;
    font-weight: lighter;
}

h3 {
    font-size: 25px;
}

/* labels */

.labels {
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

/* weapons styling */

.weapons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#rock,
#paper,
#scissors {
    border-radius: 15px;
    background-color: rgba(242, 107, 3, 0.753);
    border: solid black;
    object-fit: fill;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    border-radius: 15px;
    background-color: rgba(242, 107, 3, 0.753);
    border: solid black;
    object-fit: fill;
    animation-name: stretch;
    animation-duration: 4.0s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);;
    transform: scale(1.10);
}

img:hover {
    height: auto;
    width: 100%;
    background-color: rgba(242, 107, 3, 0.753);
}

/* play again button */

#playagain-btn {
    border-radius: 10px;
    height: auto;
    background-color:rgba(242, 107, 3, 0.753)
}

#playagain-btn:hover {
    animation-name: stretch;
    animation-duration: 4.0s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);;
    transform: scale(1.10);
}